<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
    <title>Login</title>
    <style>
        body {
  background-color: #E0E0E0;
}

.ui-widget-content {
  background-color: #E0E0E0;
}

h2 {
  margin-bottom: 10px
}

.center {
  margin: 0 auto;
}

.red {
  color: #F44336;
}
    </style>
</h:head>

<h:body>

        <h:form prependId="false">

            <p:panelGrid id="grid" columns="1" styleClass="ui-fluid center ui-noborder">
                <h2>Login</h2>
                <p:outputLabel value="Login failed!" styleClass="red"
                               rendered="${!empty param['error']}" />

                <p:inputText id="username" name="username" placeholder="User name" required="true" requiredMessage="login is required."/>
                <p:password id="password" name="password" placeholder="Password" required="true" requiredMessage="password is required."/>

                <p:commandButton value="Login" ajax="false"/>
                <p:linkButton outcome="/faces/register.xhtml" value="Register">

                </p:linkButton>
            </p:panelGrid>
        </h:form>

</h:body>
</html>