<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>

</h:head>

<h:body>
    <style type="text/css">
.ui-g div {
    background-color: #FFFFFF;
    text-align: center;
    border: 0px solid #fafafa;
    padding: 2px;
}

    </style>
    <div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-10">
        <h:form>
        <p:tabMenu activeIndex="#{param.i}">
            <p:menuitem value="Projects"  outcome="/faces/projectface.xhtml" >
                <f:param name="i" value="0" />
            </p:menuitem>
            <p:menuitem value="Tasks" outcome="/faces/taskface.xhtml" >
                <f:param name="i" value="1" />
            </p:menuitem>
            <p:menuitem value="Log-out" url="/logout">
                <f:param name="i" value="2" />
            </p:menuitem>
        </p:tabMenu>
        </h:form>
    </div>
        <div class="ui-g-1"></div>
    </div>


    <div class="ui-g" >
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <h:form id="form">
                <p:commandButton style="float:left;" value="Create" id="create" update=":form:carDetail2" oncomplete="PF('carDialog2').show()" action="#{tasks.create()}" />
                <p:dataTable id="tableStateDT2" var="car" value="#{tasks.list()}" widgetVar="carsTable" multiViewState="true"
                             rows="10" paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15"
                             rowKey="#{car.id}"
                             emptyMessage="No cars found with given criteria" filteredValue="#{tasks.filteredTasks}">
                    <f:facet name="header">
                        <h:outputText style="font-weight: bold" value="Tasks" />
                    </f:facet>
                    <p:column headerText="Id" sortBy="#{car.id}" filterBy="#{car.id}" filterMatchMode="contains">
                        <h:outputText value="#{car.id}" />
                    </p:column>

                    <p:column headerText="Name" sortBy="#{car.name}" filterBy="#{car.name}" filterMatchMode="contains">
                        <h:outputText value="#{car.name}" />
                    </p:column>
                    <p:column headerText="Description" sortBy="#{car.description}" filterBy="#{car.description}" filterMatchMode="contains">
                        <h:outputText value="#{car.description}" />
                    </p:column>
                    <p:column headerText="Status" sortBy="#{car.status}" filterBy="#{car.status}" filterMatchMode="exact">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('carsTable').filter()" style="width:100%; box-sizing: border-box;" >
                                <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItems value="#{projects.statuses()}" var="stat" itemValue="#{stat}" itemLabel="#{stat.displayName()}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:outputText value="#{car.status.displayName()}" />
                    </p:column>

                    <p:column headerText="Project" sortBy="#{tasks.project(car.projectId).name}" filterBy="#{car.projectId}" filterMatchMode="exact">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('carsTable').filter()" style="width:100%; box-sizing: border-box;" >
                                <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItems value="#{projects.list()}" var="proj" itemValue="#{proj.id}" itemLabel="#{proj.name}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:outputText value="#{tasks.project(car.projectId).name}" />
                    </p:column>

                    <p:column style="width:32px;text-align: center">
                        <p:commandButton update=":form:carDetail" oncomplete="PF('carDialog').show()" icon="pi pi-search" title="View">
                            <f:setPropertyActionListener value="#{car}" target="#{tasks.selectedTask}" />
                        </p:commandButton>
                    </p:column>
                    <p:column style="width:32px;text-align: center">
                        <p:commandButton update=":form:carDetail2" oncomplete="PF('carDialog2').show()" icon="pi pi-pencil" title="Edit">
                            <f:setPropertyActionListener value="#{car}" target="#{tasks.selectedTask}" />
                        </p:commandButton>
                    </p:column>
                    <p:column style="width:32px;text-align: center">
                        <p:commandButton update=":form:tableStateDT2" action="#{tasks.remove}" icon="pi pi-trash" title="Delete">
                            <f:setPropertyActionListener value="#{car}" target="#{tasks.selectedTask}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:dialog header="Task Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty tasks.selectedTask}" columnClasses="label,value">
                            <f:facet name="header">
                            </f:facet>

                            <h:outputText value="Id:" />
                            <h:outputText value="#{tasks.selectedTask.id}" />

                            <h:outputText value="Name" />
                            <h:outputText value="#{tasks.selectedTask.name}" />

                            <h:outputText value="Description:" />
                            <h:outputText value="#{tasks.selectedTask.description}" />

                            <h:outputText value="Create date:"/>
                            <h:outputText value="#{tasks.selectedTask.createDate}">
                                <f:convertDateTime pattern="dd-MM-yyyy"/>
                            </h:outputText>

                            <h:outputText value="Start date:"/>
                            <h:outputText value="#{tasks.selectedTask.startDate}">
                                <f:convertDateTime pattern="dd-MM-yyyy"/>
                            </h:outputText>

                            <h:outputText value="Finish date:"/>
                            <h:outputText value="#{tasks.selectedTask.finishDate}">
                                <f:convertDateTime pattern="dd-MM-yyyy"/>
                            </h:outputText>

                            <h:outputText value="Status" />
                            <h:outputText value="#{tasks.selectedTask.status.displayName()}" />

                            <h:outputText value="Project" />
                            <h:outputText value="#{tasks.project(tasks.selectedTask.projectId).name}" />
                        </p:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:dialog header="Task Edit" widgetVar="carDialog2" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="carDetail2" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty tasks.selectedTask}" columnClasses="label,value">
                            <f:facet name="header">
                            </f:facet>

                            <h:outputText value="Id:" />
                            <h:outputText value="#{tasks.selectedTask.id}" />

                            <h:outputLabel for="ajax" value="Name:" />
                            <p:inplace id="ajax" editor="true" disabled="false" emptyLabel="name">
                                <p:inputText value="#{tasks.selectedTask.name}" required="true" label="name" />
                            </p:inplace>

                            <h:outputText value="Description:" />
                            <p:inplace id="descEdit2" editor="true" disabled="false" emptyLabel="description" >
                                <p:inputText value="#{tasks.selectedTask.description}" required="false" label="description"/>
                            </p:inplace>

                            <p:outputLabel for="startdate" value="Start date:" />
                            <p:calendar id="startdate" value="#{tasks.selectedTask.startDate}" showOn="button" />

                            <p:outputLabel for="finishdate" value="Finish date:" />
                            <p:calendar id="finishdate" value="#{tasks.selectedTask.finishDate}" showOn="button" />

                            <p:outputLabel for="stat" value="Status:" />
                            <p:selectOneMenu id="stat" value="#{tasks.selectedTask.status}" style="width:125px">
                                <f:selectItems value="#{projects.statuses()}" var="status" itemValue="#{status}" itemLabel="#{status.displayName()}" />
                            </p:selectOneMenu>

                            <p:outputLabel for="proj" value="Project:" />
                            <p:selectOneMenu id="proj" value="#{tasks.selectedTask.projectId}" style="width:125px">
                                <f:selectItem itemValue="#{null}" itemLabel="none" noSelectionOption="true"/>
                                <f:selectItems value="#{projects.list()}" var="pr" itemValue="#{pr.id}" itemLabel="#{pr.name}" />
                            </p:selectOneMenu>

                        </p:panelGrid>

                    </p:outputPanel>
                    <p:commandButton value="Save" id="save2" ajax="true" update=":form:tableStateDT2" oncomplete="PF('carDialog2').hide()" action="#{tasks.save()}" style="margin-right:20px;" />
                </p:dialog>
            </h:form>

        </div>
        <div class="ui-g-1"></div>
    </div>

</h:body>
</html>